DEV=false

EWS_HOST=mail.guc.edu.eg
EWS_EMAIL=firstname.lastname@student.guc.edu.eg
EWS_USER=firstname.lastname
EWS_PASSWORD=YOUR-GUC-PASSWORD
MARK_EMAILS_READ=true
EMAILS_TO_SCAN= # if left blank it scans all unread emails


ENABLE_CMS=true
CMS_URL=https://cms.guc.edu.eg


FREELLM_KEY=apf_xxxxxxxxxxxx

USE_OLLAMA=false
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2 # or your model if you are using ollama


USE_GEMINI=false
GEMINI_KEY=xxxxxxx-qls
GEMINI_MODEL=gemini-2.0-flash   # default




GMAIL_SENDER=your-email@gmail.com
GMAIL_APP_PASSWORD="xxxx xxxx xxxx xxxx"
GMAIL_RECIPIENT=your-email@gmail.com



GOOGLE_CALENDAR_ID=primary
TIMEZONE=Africa/Cairo
